<!DOCTYPE html>
<html lang="en">
  {{>headerlinks}}
  <body>
    <!-- nav bar -->
    {{>navbar}}
    <!-- nav bar completed -->
<!--  start body -->
<div class="container-fluid main_header my-3">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="row">
        <!-- right side div  -->
        <div class="col-md-6 main_header-right">
          <figure>
            <img
              src="/imgage/unknown.jpg"
              alt=""
              class="img-fluid align-item-center"
              title="hazari"
              style="height: 500px ; width: 500px"
            />
          </figure>
        </div>
        <!-- right side div  -->
        <div class="col-md-6 main_header-left">
          <p>Welcome to Weather App</p>
          <h1>I Am a
            <span class="text_clr"> full stack developer </span>Teacher And
            Lerner Too</h1>
          <a href="https://youtu.be/rlKCva8lcrM" target="_blank"><button>About
              Me</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
    <!--  start body -->
    
    <!-- footer code  -->
    {{>footer}}
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    {{>footerlinks}}
  </body>
</html>
